{% extends 'base.html.twig' %}

{% block title %}Sponsor index{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-2">List de sponsors</h1>
    <a href="{{ path('app_sponsor_new') }}" class="btn btn-primary mt-3 mb-3">Créer un nouveau sponsor</a>
    <dic class="card">
        <div class="card-body">
            <table class="table" id="table-sponsor">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Sponsor</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Adresse email</th>
                        <th>Code postal</th>
                        <th>Pays</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sponsor in sponsors %}
                    <tr>
                        <td>{{ sponsor.id }}</td>
                        <td>{{ sponsor.sponsor }}</td>
                        <td>{{ sponsor.lastName }}</td>
                        <td>{{ sponsor.firstName }}</td>
                        <td>{{ sponsor.email }}</td>
                        <td>{{ sponsor.postalCode }}</td>
                        <td>{{ sponsor.country }}</td>
                        <td>
                            <a class="btn btn-success" href="{{ path('app_sponsor_edit', {'id': sponsor.id}) }}">Modifier</a>
                            {{ include('sponsor/_delete_form.html.twig') }}
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="8">Pas de sponsor trouvés</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </dic>
</div>

{% endblock %}
{% block javascripts %}
<script>
    $(document).ready( function () {
        $('#table-sponsor').DataTable();
    } );
</script>
{% endblock %}